body{
    background-color: rgb(40, 40, 40);
    color:rgb(242, 229, 213);
    font-family: Tahoma;
    font-size: 16px;
    width:100%;
    height:100vh;
    margin:0;
}

h1{
    text-align: center;
    margin: 1em auto;
}

